<div class="container pt-6 ">
    <h1>وبلاگ ساده ی من</h1>

    <span class="fa fa-plus"></span>
    <a href="/login" class="button is-primary">ورود</a>
    <button class="button is-black">hello </button>
    <div style="height: 1000px;"></div>
</div>