<link rel="stylesheet" href="/css/login.css">
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4 ">

                <div class="box">
                    <h4 class="title has-text-black"> ورود به داشبورد</h4>
                    <form action="#" method="POST">
                        <div class="field">
                            <div class="control is-medium has-icons-right">
                                <input class="input  is-medium is-rounded" type="email" placeholder="نام کاربری"
                                    autofocus="">
                                <span class="icon is-small is-right">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control is-medium has-icons-right">
                                <input class="input  is-medium is-rounded" type="password" placeholder="گذرواژه">
                                <span class="icon is-small is-right">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox">
                                مرا به خاطر بسپار
                            </label>
                        </div>
                        <div class="columns is-mobile">
                            <div class="column"></div>
                            <div class="column">
                                <button class="button  is-link is-medium is-centered is-rounded">ورود
                                </button>
                            </div>
                            <div class="column"></div>
                        </div>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="#">ثبت نام</a> &nbsp;·&nbsp;
                    <a href="#">فراموشی گذرواژه</a> &nbsp;·&nbsp;
                    <a href="#">نیاز به کمک دارید؟</a>
                </p>
            </div>
        </div>
    </div>
</section>