<section class="section hero is-fullheight is-error-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="has-text-centered">
                        <div>
                            <div class="error-page-caption">
                                <h1><b>404</b></h1>
                            </div>
                            <div class="error-page-caption">
                                Not found
                            </div>
                            <div class="error-page-action">
                                <div class="buttons is-centered">
                                    <a href="/" class="button is-black">
                                        Home page
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>