html, body {
	height: 100vh !important;
}

.ck-editor__editable[role="textbox"] {
	/* editing area */
	min-height: 200px;
}

.ck-content .image {
	/* block images */
	max-width: 80%;
	margin: 20px auto;
}

@media screen and (min-width: 769px),
print {
	.field-body {
		flex-grow: 10 !important;
	}
}