<section class="section hero is-fullheight is-error-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="card has-card-header-background">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span class="icon"><i class="mdi mdi-lock-open default"></i></span>
                                <span>بازیابی رمز عبور</span>
                            </p>
                            <a href="/" class="button is-small router-link-active">صفحه اصلی</a>
                        </header>
                        <div class="card-content">
                            <form method="POST">
                                <div class="field">
                                    <label class="label">ایمیل خود را وارد کنید</label>
                                    <div class="control">
                                        <input type="email" autocomplete="on" name="email" class="input " required
                                            autofocus>
                                    </div>
                                    <p class="help has-text-danger"></p>
                                </div>
                                <hr>
                                <div class="field is-grouped" style="direction: ltr;">
                                    <div class="control">
                                        <a href="/login" class="button is-black is-outlined">
                                            بازگشت
                                        </a>
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button is-black">
                                            ارسال لینک بازیابی گذرواژه
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>