<footer class="footer is-fixed-top">
	<div class="container-fluid">
		<div class="level">
			<div class="level-left">
				<div class="level-item">
					ALL RIGHTS RESERVED
				</div>
			</div>
			<div class="level-right">
				<div class="level-item">
					<div class="logo">
						<a href="https://hadikhah.ir"><img src="/img/logo.png" alt="hadikhah"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>