<aside class="aside is-expanded is-placed-right">
	<div class="aside-container jb-has-perfect-scrollbar">
		<div>
			<article class="media">
				<div class="media-content">
					<div class="content">
						<p>پیام اول این پیام اول آزمایشیه</p>
					</div>
					<nav class="level is-mobile">
						<div class="level-left">
							<div class="level-item">
								<span class="tag is-small is-danger">
									<span class="icon is-small"><i class="mdi mdi-information"></i></span>
								</span>
							</div>
							<div class="level-item"><small>
									دو ماه پیش
								</small></div>
						</div>
					</nav>
				</div>
			</article>
			<article class="media">
				<div class="media-content">
					<div class="content">
						<p>Nihil debitis optio non beatae a suscipit...</p>
					</div>
					<nav class="level is-mobile">
						<div class="level-left">
							<div class="level-item">
								<span class="tag is-small is-info">
									<span class="icon is-small"><i class="mdi mdi-information"></i></span>
								</span>
							</div>
							<div class="level-item"><small>دو ماه پیش</small></div>
						</div>
					</nav>
				</div>
			</article>

		</div>
	</div>
</aside>