<aside id="aside-main" class="aside is-expanded is-placed-left">
	<div class="aside-tools">
		<div class="aside-tools-label">
			<span><b>dragon</b>line</span>
		</div>
	</div>
	<div class="menu-container jb-has-perfect-scrollbar">
		<div class="menu is-menu-main">
			<p class="menu-label">Main</p>
			<ul class="menu-list">
				<li>
					<a href="/dashboard" class="<%= route.current_path== `/dashboard`?`is-active`:``%> has-icon">
						<span class="icon"><i class="mdi mdi-view-dashboard"></i></span>
						<span class="menu-item-label">Dashboard</span>
					</a>
				</li>
			</ul>
			<p class="menu-label">posts</p>
			<ul class="menu-list">
				<li>
					<a href="/dashboard/post/all"
						class="<%= route.current_path== `/dashboard/post/all`?`is-active`:``%> has-icon">
						<span class="icon has-update-mark"><i class="mdi mdi-table"></i></span>
						<span class="menu-item-label">All posts</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/post/create"
						class="<%= route.current_path== `/dashboard/post/create`?`is-active`:``%> has-icon">
						<span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
						<span class="menu-item-label">New post</span>
					</a>
				</li>
				<li>
					<a href="/dashboard/profile"
						class="<%= route.current_path== `/dashboard/profile`?`is-active`:``%> has-icon">
						<span class="icon"><i class="mdi mdi-account-circle"></i></span>
						<span class="menu-item-label">profile</span>
					</a>
				</li>
				<!-- <li>
					<a class="has-icon has-submenu-icon jb-dropdown">
						<span class="icon"><i class="mdi mdi-arrow-down-bold-circle"></i></span>
						<span class="menu-item-label">باز شونده</span>
						<div class="submenu-icon">
							<span class="icon"><i class="mdi mdi-plus"></i></span>
						</div>
					</a>
					<ul>
						<li>
							<a href="#void">
								<span>زیر مورد</span>
							</a>
						</li>
						<li>
							<a href="#void">
								<span>زیر مورد</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-icon has-submenu-icon jb-aside-secondary-toggle">
						<span class="icon"><i class="mdi mdi-view-list"></i></span>
						<span class="menu-item-label">زیر منو</span>
						<div class="submenu-icon">
							<span class="icon"><i class="mdi mdi-chevron-left"></i></span>
						</div>
					</a>
				</li>
			</ul>
			<p class="menu-label">غیره</p>
			<ul class="menu-list">
				<li>
					<a href="login.html" class="has-icon">
						<span class="icon"><i class="mdi mdi-lock"></i></span>
						<span class="menu-item-label">ورود</span>
					</a>
				</li>
				<li>
					<a href="error-v1.html" class="has-icon">
						<span class="icon"><i class="mdi mdi-power-plug"></i></span>
						<span class="menu-item-label">صفحه ارور ۱</span>
					</a>
				</li>
				<li>
					<a href="error-v2.html" class="has-icon">
						<span class="icon"><i class="mdi mdi-alert-decagram"></i></span>
						<span class="menu-item-label">صفحه ارور ۲</span>
					</a>
				</li>
				<li>
					<a href="lock-screen.html" class="has-icon">
						<span class="icon"><i class="mdi mdi-lock-reset"></i></span>
						<span class="menu-item-label">صفحه قفل</span>
					</a>
				</li>
			</ul>
			<p class="menu-label">درباره</p>
			<ul class="menu-list">
				<li>
					<a href="https://justboil.me/bulma-admin-template/one" class="has-icon">
						<span class="icon"><i class="mdi mdi-help-circle"></i></span>
						<span class="menu-item-label">درباره</span>
					</a>
				</li>
			</ul>
		</div> -->
		</div>
		<!-- <div class="menu is-menu-bottom">
		<ul class="menu-list">
			<li>
				<a title="Log out" class="has-icon is-state-info is-hoverable">
					<span class="icon"><i class="mdi mdi-logout default"></i></span>
					<span class="menu-item-label">خروج</span>
				</a>
			</li>
		</ul>
	</div> -->
</aside>


<!-- <aside id="aside-secondary" class="aside is-placed-left is-expanded is-secondary is-hidden">
	<div class="aside-tools has-icon">
		<div class="aside-tools-label">
			<span class="icon"><i class="mdi mdi-view-list default"></i></span>
			<span>مثال</span>
		</div>
		<a class="aside-close">
			<span class="icon"><i class="mdi mdi-close default"></i></span>
		</a>
	</div>
	<div class="menu-container jb-has-perfect-scrollbar">
		<div class="menu is-menu-main">
			<p class="menu-label">مثال</p>
			<ul class="menu-list">
				<li>
					<a href="#void" class="has-icon">
						<span class="icon"><i class="mdi mdi-view-list default"></i></span>
						<span class="menu-item-label">زیرمورد۱</span>
					</a>
				</li>
				<li>
					<a href="#void" class="has-icon">
						<span class="icon"><i class="mdi mdi-view-list default"></i></span>
						<span class="menu-item-label">زیرمورد۲</span>
					</a>
				</li>
			</ul>
			<p class="menu-label">بازشونده</p>
			<ul class="menu-list">
				<li>
					<a class="has-icon has-submenu-icon jb-dropdown">
						<span class="icon"><i class="mdi mdi-view-list default"></i></span>
						<span class="menu-item-label">زیرمنو</span>
						<div class="submenu-icon">
							<span class="icon"><i class="mdi mdi-plus default"></i></span>
						</div>
					</a>
					<ul>
						<li><a href="#void"><span>زیر منو ۱</span></a></li>
						<li><a href="#void"><span>زیر منو ۲</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="menu is-menu-bottom">
		<ul class="menu-list"></ul>
	</div> -->
</aside>